@charset "utf-8";
/* CSS Document */

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: white;
	margin: 0px auto;
	border: 2px solid #666;
	padding: 0;
	color: #000;
	max-width: 1260px;
	min-width: 780px;
}
div#header{
	background-color:#CCC;
	color:#00F;
	font: bold 45px "Comic Sans MS", cursive;
	margin:0;
	text-align:center;
	height: 50px;
	width: 100%;
	padding-bottom: 18px;
}
div#footer{
	border-top: 1px solid #666;
	background-color:#CCC;
	color:#00F;
	font: 12px "Times New Roman", Times, serif;
	margin:0;
	text-align:center;
	height: 68px;
	width: 100%;
}
ul{ 
	padding: 0;
	margin: 0;
}
h1{
	margin: 0;	
	text-align:center;
	word-wrap: break-word;
}
a img { 
	border: none;
}
a:link {
	color: #42413C;
}
a:visited {
	color: #6E6C64;
}
.sidebar1 {
	float: left;
	height: 100%;
	width: 21%;
	margin:0;
}
.content {
	border-top: 1px solid #666;
	padding: 20px 0px;
	width:79%;
	margin:0;
	float:left;
}
.content p
{
	padding: 5px 25px;
}
ul.nav {
	list-style:none;
	border-right: 1px solid #666;
	width:100%;
}
ul.nav a, ul.nav a:visited { 
	font: 20px Verdana, Arial, Helvetica, sans-serif;
	padding: 10px 5px 10px 15px;
	display: block;
	text-decoration: none;
	background: #C6D580;
	border-top: 1px solid #666;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background: #ADB96E;
	color: #FFF;
	text-decoration: none;
}